body {
	font-family: Arial;
	color: #333333;
	margin: 0;
	font-size: 20px;
}

h1 {
	font-size: 24px;
	margin: 0;
	padding-left: 5px;
}

a {
	text-decoration: none;
	color: #CCCCCC;
}

/* Para que el hipervinculo cambie en función de una acción del usuario
ejemplo que cambie de color cuando paso con el mouse*/

a:hover {
	color: #FFFFFF;
}

header {
	background-color: #212121;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
	color: white;
	overflow: hidden; /*poder incorporar en el contenedor cajas flotantes, otra opción es auto*/
}

li {
	float: left;
}

/*   	---------------MENU------------------
    
    List-style: para sacar las viñetas

    display: 
    inline-block: soporta cambios en el margen y que este un bloque uno al lado del otro
    inline: un elemento al lado del otro, los pone en línea (no pueden tener margen)
    block: elementos uno debajo de otro, soporta margin y padding completamente 
    none: invisible
    




   


#button {
	padding: 0;	
}

#button li {
	display: inline-block;
}

#button li a {
	font-size: 16px;
	padding: 5px; 
	color: #CCCCCC;
}

#button li a:hover {
 	color: #FFFFFF;
 }*/